/* .category_news_holder {
  margin-top: 25px;
  margin-bottom: 25px !important;
}
.category_news_image {
  height: auto;
  width: 100%;
}
.postContent {
  text-align: left;
}
.post-title {
  line-height: 1.4;
  text-align: left;
  font-size: 12px;
}
.tag {
  font-size: 14px;
  font-weight: 600;
  padding: 0 10px;
  color: #f00606;
  border-right: 2px solid #f00606;
  border-left: 2px solid #f00606;
  margin-bottom: 20px;
  display: inline-block;
  text-align: left !important;
}
.meta {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start !important;
  text-align: left !important;
}
.meta-li {
  color: #02141f;
  font-size: 14px;
  display: block;
  margin-right: 14px;
  text-align: left;
}
.publish-date {
}
.description {
  margin-top: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.post_a {
  font-weight: 700;
  line-height: 1.4;
  text-align: left;
  font-size: 20px;
  color: black;
  text-decoration: none;
}
.post_a:hover {
  color: #f00606;
} */
