.main_heading_about {
  padding: 20px 0;
}
.about_heading {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Open Sans", sans-serif;
}
.about_us {
  font-family: "Open Sans", sans-serif;
  margin-top: 30px;
  text-align: justify;
  line-height: 1.5;
}
.about_address {
  text-align: left;
  margin-top: 0px;
  font-family: "Open Sans", sans-serif;
}
.team_image {
  width: 100%;
  height: 300px !important;
}
.team_name {
  font-size: 20px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  margin-top: 20px;
}
.team_name:hover {
  color: #f00606;
  cursor: pointer;
}
.team_position {
  font-size: 16px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  margin-top: 12px !important;
}
.team_email {
  font-size: 14px;

  font-family: "Open Sans", sans-serif;
}
.inner_contact_us {
  padding-left: 40px !important;
  padding-right: 40px !important;
  padding: 40px !important;
  text-align: left;
  background-color: #eff3fa;
  border-radius: 20px;
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}
.send_button {
  background-color: #f00606;
  border-radius: 10px;
  color: white;
  width: 130px;
  height: 40px;
  border: none;
}
.share_message {
  text-align: left;
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
  line-height: 2;
}
.contact_email {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start !important;
  text-align: left !important;
  text-align: left;
}
.email_icon {
  margin-top: 5px;
}
.contact_email {
  margin-left: 10px;
}
.social_link {
  display: flex;
  flex-flow: row wrap;

  margin-top: 20px;
}
.title {
  text-align: left;
}
.contact_menu_li {
  margin: 5px 15px;
}
.contact_menu_a {
  font-size: 18px;
  color: #02141f;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 10px;
}
.contact_menu_a:hover {
  color: #f00606;
}
.contact_form_bottom {
  text-align: left;
}
