.main_heading_category {
  padding: 20px 0;
  width: 100%;
}
.category_heading {
  margin-top: 20px;
  margin-bottom: 20px;

  text-align: center;
}
.horizontal_ads_category {
  height: 80px;
  background-color: black !important;
}
.ads_img_hori {
  height: 100px;
  width: 100%;
}
.news_section {
}
.ads_section {
}
.categories_holder {
  margin-top: 40px;
  margin-bottom: 40px;
}
