.news_details_horizontal {
  height: 100px;
  width: 100%;
  overflow: hidden;
  margin-top: -20px;
  margin-bottom: 30px;
}
.main_content {
  /* padding-right: 50px; */
  border-right: 1px solid #ddd;
}
.post_title {
  font-weight: 700;
  line-height: 1.1;
  font-size: calc(34px + (55 - 34) * ((100vw - 320px) / (1920 - 320)));
}
.post_meta {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  margin-bottom: 20px;
  list-style-type: none;

  text-align: left;
  margin-left: -25px;
}
.li {
  margin-right: 15px;
  font-size: 14px;
  color: #02141f;
  position: relative;
  text-decoration: none;
  list-style-type: none;
  text-align: left;
}
.li:last_child {
  margin-right: 0;
  list-style-type: none;
}
.li_a {
  font-size: 14px;
  color: #02141f;
  text-transform: capitalize;
  list-style-type: none;
}
.li_a:hover {
  color: #f00606;
}
.icon {
  margin-right: 5px !important;
  text-decoration: none;
}
.social_share {
  display: flex;
  flex-flow: row wrap;
  align-items: right;
  justify-content: right;
  list-style-type: none;
}
.social_share li {
  margin: 0 2px;
  list-style-type: none;
}
.social_share li a {
  display: block;
  width: 34px;
  color: #777;
  border: 1px solid #ddd;
  text-align: center;
  height: 31px;
  font-size: 17px;
  padding: 2px;
}
.social_share li a:hover {
  color: #f00606;
  border-color: #f00606;
}

.featured_img img {
  width: 100%;
  text-align: center;
  background-color: "red";
}
.entry_content {
  margin-top: 40px;
  text-align: center;
}
.entry_content p {
  line-height: 1.8;
  margin-bottom: 12px;
  text-align: justify;
}
.disclaimer {
  text-align: left;
}
.trending_heading {
  margin-top: 15px;
  margin-bottom: 15px;
}
.trending_text {
  font-weight: bold;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 15px;
}
.post_pagination {
  display: flex;
  flex-flow: row wrap;
  margin-top: 50px;
  border-top: 1px solid #eee;
  padding-top: 50px;
  padding-bottom: 50px;
}
.post_pagination .single_link {
  width: 50%;
  font-size: 18px;
  font-weight: 700;
  position: relative;
  color: #000;
}
.single_link:hover {
  color: #f00606;
}
.single_link .span {
  display: block;
}
.single_link .i {
  font-size: 45px;
  position: absolute;
  top: 16px;
  left: 0;
}
.previous {
  display: flex;
  flex-flow: row wrap;
  margin-top: 50px;
  border-top: 1px solid #eee;
  padding-top: 50px;
  padding-bottom: 50px;

  padding-left: 45px;
  padding-right: 20px;
  text-align: left;
  text-decoration: none;
}
.next {
  padding-right: 45px;
  padding-left: 20px;
  text-align: right;
  text-decoration: none;
}
.next .i {
  left: inherit;
  right: 0;
}
.comment_section {
  margin-top: 30px;
}
.comment_box {
  min-height: 100px;
  border: 1px solid #c2c2c2;
  margin-top: 20px !important;
  border-radius: 10px;
  padding: 10px;
}
.user_comments {
  text-align: left;
}
.user_img {
  width: 50px;
  height: 50px;
}
.user_info {
  text-decoration: none;
  color: #f00606;
}
.reply_input {
  width: 300px !important;
  height: 40px;
  padding: 10px;
  background-color: #c1c1c1;
  border-radius: 20px;
  border: none;
  color: black;
}
.reply_button {
  background-color: #f00606;
  border: none;
  color: white;
  margin-left: 20px;
  width: 100px;
  height: 40px;
  border-radius: 10px;
}
.post_content {
  background-color: "red";
}

.single_link_previous {
  width: 50%;
  font-size: 18px;
  font-weight: 700;
  position: relative;
  color: #000;
  text-decoration: none;
}
.single_link_previous:hover {
  color: #f00606;
}
.single_link_previous .span {
  display: block;
}
.i {
  font-size: 45px;
  position: absolute;
  top: 16px;
  left: 0;
}

.single_link_next {
  width: 50%;
  font-size: 18px;
  font-weight: 700;
  position: relative;
  color: #000;
  text-decoration: none;
}
.single_link_next:hover {
  color: #f00606;
}
.single_link_next .span {
  display: block;
}
.i {
  font-size: 45px;
  position: absolute;
  top: 16px;
  left: 0;
}
