.footer_menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer_menu {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
.footer_menu_li {
  margin: 5px 25px;
}
.footer_menu_a {
  font-size: 18px;
  color: #02141f;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  height: 80px !important;
}
.footer_menu_a:hover {
  color: #f00606;
}
.footer {
  padding: 20px 0;
  border-top: 1px solid #02141f;
}
.footer_badge {
  height: 80px !important;
}
