.first_image {
  width: 100%;
  height: 100px !important;
}
.line {
  width: 85%;
  height: 15px;
  align-self: "center";

  border-radius: 8px;
}
.line_one {
  width: 65%;
  height: 15px;
  align-self: "center";

  border-radius: 8px;
}
