.login_heading {
  color: #02141f;
  font-weight: 400 !important;
  font-size: 52px;
}
.login_container {
  padding: 20px 0;
  text-align: start;
}
.form_label {
  text-align: start;
}
.login_form_holder {
  text-align: left;
  align-items: flex-start;
}
.login_button {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background-color: #f00606;
  border-color: #f00606;
  border: none;
  color: white;
}
.login_bottom_option {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.login_bottom_option a {
  color: #f00606;
  font-size: 18px;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}
.login_bottom_option a:hover {
  color: #f00606;
}
.forgot_box {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.forgot_box a {
  color: #f00606;
  font-size: 18px;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}
.forgot_box a:hover {
  color: #f00606;
}
