.navbar {
  box-shadow: 0 3px 8px #66666626;
  width: 100%;
}
/* .nav_link {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  color: #02141f !important;
  font-family: "Open Sans", sans-serif;
} */
.navbar .a_one {
  text-decoration: none !important;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  color: #02141f !important;
  font-family: "Open Sans", sans-serif;
  padding: 10px;
}
.navbar .a_one:hover {
  color: #f00606 !important;
  text-decoration: none;
}
.nav_link:hover {
  color: #f00606 !important;
}
.header_button {
  background-color: #f00606;
  margin-left: 10px;
  width: 80px;
  height: 40px;
  color: white !important;
  font-weight: 600;
  font-size: 18px;
  border-radius: 10px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
.logo {
  height: 90px;
}
.navbar {
}
