.terms_header {
  margin-top: 25px;
  margin-bottom: 25px !important;
}
.terms_heading {
  text-align: center;
  font-weight: 700;
  padding: 0 25px 0 20px;
  font-size: 60px;
  line-height: 1;
  text-transform: uppercase;
  text-shadow: 4px 0px #02141f;
  -webkit-text-fill-color: #fff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #02141f;
  background: #fff;
  display: inline-block;
}
.terms_detail {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.8;
  text-align: justify;
  margin-top: 40px;
  margin-left: 10%;
  margin-right: 10%;
}
