.trending_heading {
  width: "100%";
  text-align: center;
  font-weight: 700;
  padding: 0 25px 0 20px;
  font-size: 60px;
  line-height: 1;
  text-transform: uppercase;
  text-shadow: 4px 0px #02141f;
  -webkit-text-fill-color: #fff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #02141f;
  background: #fff;
  display: inline-block;
}
.single_post {
  padding: 20px 0;
  display: flex;
  flex-flow: row-reverse;
  align-items: center;
  text-align: left;
}
.trending_text {
  font-weight: 700;
  text-align: left;
}
.section_title {
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
}
.post_layout_wrapper {
  display: flex;
  flex-flow: row wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.single_col {
  text-align: center;
  padding: 0 15px;
  border-right: 1px solid #02141f;
  margin-top: 50px;
}
.post_layout1 {
}
.post_layout2 {
}
.post_layout3 {
  border-right: none;
}
.single_post {
  padding: 20px 0;
  display: flex;
  flex-flow: row-reverse;
  align-items: center;
  text-align: left;
}
.img_area {
  overflow: hidden;
  width: 170px;
}
.img {
  width: 100%;
  transition: all 0.8s linear;
}
.img {
  transform: scale(1.1);
}
.single_post .post_title {
  display: block;
  font-size: 45px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 20px;
  text-decoration: none !important;
}
.third_anchor {
  color: #02141f;
  display: block;
  font-size: 45px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 20px;
  text-decoration: none !important;
}
.a_anchor:hover {
  color: #f00606;
  text-decoration: none !important;
}
.tag {
  font-size: 18px;
  font-weight: 600;
  padding: 0 10px;
  color: #f00606;
  border-right: 2px solid #f00606;
  border-left: 2px solid #f00606;
  margin-bottom: 20px;
  display: inline-block;
}
.description {
  margin-bottom: 10px;
}
.post_two {
  border-bottom: 1px dotted #02141f;
}
.single_post {
  border-bottom: 1px dotted #02141f;
  padding: 20px 0;
  display: flex;
  flex-flow: row-reverse;
  align-items: center;
  text-align: left;
}
.img_area {
  width: 170px;
}
.post_layout3 .single_post .type {
  display: inline-block;
  background: #f00606;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 8px;
}
.third_anchor {
  text-decoration: none !important;
  font-weight: 700;
  line-height: 1.4;
  text-align: left;
  font-size: 20px;
  color: black;
}
.third_anchor:hover {
  color: #f00606;
  text-decoration: none !important;
}
